<h1>Editing Registered Application</h1>

<%= render 'form' %>

</br>

<%= link_to 'Show Current Application', @registered_application %> |
<%= link_to 'Back To All Registered Applications', registered_applications_path %>
