<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="5"><h1 align="center"><%= RegisteredApplication.name %>'s Events</h1></th>
    </tr>
    <tr>
      <th>Event</th>
      <th>Count</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.count %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <th colspan="5" align="center"><%= link_to 'Add An Event To Track', new_registered_application_event_path, class: 'btn btn-lg btn-success center-block' %></th>
  </tfoot>
</table>